Options +FollowSymLinks
RewriteEngine On

# Force redirect to public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Handle requests inside public folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public/(.*)$ public/index.php [L]

# Direct file access
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ public/$1 [L]

# Direct directory access
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ public/$1 [L]
